@import "tailwindcss";
.map-btn {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

.map-btn:hover {
  background: rgba(56, 189, 248, 0.85);
  transform: scale(1.05);
}
.leaflet-container {
  z-index: 0;
}
